.aboutus-section
{
    color:white;
}
.aboutus-banner
{
    margin-top: 10px ;
}
.feature-content
{
    margin-left: 20px;
}
.aboutus-more
{
    font-weight: 300;
    color:white;
    font-family: sans-serif;
    font-size: larger;
}